
{% extends "where-im-going/cities/index.html" %}
{% block content2 %}

<div class="show-country">
        <span class="show-country-name">{{city.name}}</span><br>
        <label class="grey-out">Visited before?:</label><br>
        {% if city.visited == True %}
        <span>Yes! Going again.</span>
        {% else %}
      <span> Nope. Still to see!</span>
        {% endif %}<br>
        <a href="/where-im-going/countries/{{country.id}}/cities/{{city.id}}/edit" class="show-country-edit">Edit</a>
    </div> 


{% endblock  %}