{% extends "where-im-going/index.html" %}
{% block content2 %}

<form action="/where-im-going/{{country.id}}" method="POST" class="new-country-form">
    <div>
        <label for="country">Country</label><br>
        <input type="text" id="country" name="country_name" placeholder="{{country.name}}" class="add-destination-button" required autofocus>
    </div>
    <div>
        <div>&#8595;</div>
        <label for="visited" class="grey-out">Visited before?</label><br>
        <select id="visited" name="visited" class="add-destination-button">
            <option value="false" {% if country.visited == False %} selected="selected" {% endif %}>Nope. Still to see!</option>
            <option value="true" {% if country.visited == True  %} selected="selected" {% endif %}>Yes! Going again.</option>
        </select>
    </div>
    <div>&#8595;</div>
    <button type="submit" class="add-destination-button">Edit Country</button>
</form>

{% endblock %}


