{% extends "base.html" %}
{% block content %}

<nav class="container">
    <div>
        <ul class="where-im-going">
            <li class="italics">ΠΟΥ ΠΑΩ</li> 
            <li class="bold">ਮੈਂ ਕਿੱਥੇ ਜਾ ਰਿਹਾ ਹਾਂ</li>
            <li class="italics">我要去哪里 </li>
            <li class="bold"> OÙ JE VAIS</li>
            <li class="italics">A DONDE VOY</li>
            <li class="bold">ONDE EU VOU</li>
            <li class="italics">WAAR IK HEEN GA</li>
            <li class="white bold">WHERE I'M GOING</li>
    </div>
    <div id="align-right">
        <ul class="where-ive-been">
            <li class="italics">ΠΟΥ ΕΙΜΑΙ</li> 
            <li class="bold">ਮੈਂ ਕਿੱਥੇ ਰਿਹਾ ਹਾਂ</li>
            <li class="italics">我去过的地方</li>
            <li class="bold">OÙ J'AI ÉTÉ</li>
            <li class="italics">DONDE HE ESTADO</li>
            <li class="bold">ONDE EU ESTIVE</li>
            <li class="italics">WAAR IK BEN GEWEEST</li>
            <li class="white bold">WHERE I'VE BEEN</li>
        </ul>
    </div>
</nav>

<footer>
    <a href="/where-im-going" action="where-im-going">Travel Bucket List</a>
</footer>

{% endblock %}