body {
    background: url(images/jonatan-pie-h8nxGssjQXs-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: 'Slabo 27px', serif;
}
header {
    display: flex;
    justify-content: right;
    top: 0;
    bottom: -60px;  
    position: fixed;
}
footer {
    background-color: rgb(202, 73, 73);
    color: black;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
}
footer a {
    margin-top: 50px;
    font-weight: bolder;
    color: black;
    font-size: x-large;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: none;
}
.where-im-going, li {
    list-style: none;
    font-size: 60px;
    color: rgb(189, 185, 185);
font-family: 'Slabo 27px', serif;
}
.where-ive-been, li {
    list-style: none;
    font-size: 60px;
    color: rgb(165, 164, 164);
font-family: 'Slabo 27px', serif;
}
a {
    text-decoration: none;
}
.white {
    color: white;
}
.bold {
    font-weight: bolder;
}
.italics {
    font-style: italic;
}
#align-right {
    text-align: right;
    margin-right: 40px;
}

.where-im-going, li:hover {
        font-size:50px;
        font-size-adjust: 20px;
    }

.plane {
    color: rgb(202, 73, 73);
    font-size: 40px;
    margin-right: 20px;
    padding: 0;

}

blockquote {
    margin-top: 250px;
    margin-left: 0;
    padding: 40px;
    color: rgb(165, 165, 165);
    font-family:'Slabo 27px', serif;
    font-size: 30px;
    border-top: solid rgb(165, 165, 165) 3px;
    border-bottom: solid rgb(165, 165, 165) 3px;
    border-right: solid rgb(165, 165, 165) 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    max-width: 60%;
    margin-bottom: 50px;
}

blockquote:hover {
    color: white;
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    border-right: solid white 3px;

}

.quote-right {
    margin-top: 50px;
    margin-right: 0;
    padding: 40px;
    color: rgb(165, 165, 165);
    font-family:'Slabo 27px', serif;
    font-size: 30px;
    border-top: solid rgb(165, 165, 165) 3px;
    border-bottom: solid rgb(165, 165, 165) 3px;
    border-left: solid rgb(165, 165, 165) 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    max-width: 60%;
    margin-bottom: 150px;
    float: right;
}

.quote-right:hover {
    color: white;
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    border-left: solid white 3px;

}

img {
    margin: 50px;
    width: 700px;
    height: 500px;
}

quote {
    color: white;
    font-size: x-large;
    float: right;
    margin-right: 200px;
    padding-top: 250px;
    
}
.quote-2 {
    float: left;
    margin-left: 120px;
    
}

.img-2 {
    /* margin: 50px; */
    margin-right: -10px;
    width: 700px;
    height: 500px;
    padding-bottom: 150px;
    
}

