/* BASE + INDEX PAGE */

body {
    background: url(images/jonatan-pie-h8nxGssjQXs-unsplash.jpg) no-repeat center center fixed; 
    background-size: cover;
    margin: 0;
    font-family: 'Slabo 27px', serif;
}
header {
    display: flex;
    justify-content: right;
    position: fixed;
}
footer {
    background-color: rgb(202, 73, 73);
    color: black;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: -5vh;
}
footer a {
    margin-top: 2vh;
    font-weight: bolder;
    color: black;
    font-size: xx-large;
}

footer a:hover {
    font-size:40px;

}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: none;
}
.where-im-going, li {
    list-style: none;
    font-size: 60px;
    color: rgb(189, 185, 185);
font-family: 'Slabo 27px', serif;
}
.where-ive-been, li {
    list-style: none;
    font-size: 60px;
    color: rgb(165, 164, 164);
    font-family: 'Slabo 27px', serif;
}
a {
    text-decoration: none;
}
.red {
    color: rgb(202, 73, 73);
}
.white {
    color: white;
}
.bold {
    font-weight: bolder;
}
.italics {
    font-style: italic;
}
#align-right {
    text-align: right;
    margin-right: 40px;
}
.plane {
    color: rgb(202, 73, 73);
    font-size: 40px;
    margin-right: 20px;
    padding: 0;
}


